<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ff331449.js" crossorigin="anonymous"></script>
    <title>Flask Website</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo-container">
            <span class="app-name"><a href="{{ url_for('index') }}">ByteBite</a></span>
            <div class="logo-head-container">
                <img src="/static/images/logo-header.jpg" alt="logo">
            </div>
        </div>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-right-container">
                <a href="{{ url_for('about_page') }}">About Us</a>
                <form action="/foodsearch/" method="POST">
                    <input type="text" class="txt-box" name="query" placeholder="Search...">
                    <label for="query"></label>
                </form>
                {% if not session['user'] %}
                <a href="{{ url_for('login_page') }}">Login</a>
                {% else %}
                <a href="{{ url_for('login_page') }}">Logout</a>
                <div class="nav-profile">
                <a href="{{url_for('profile')}}">
                <img class="rounded-circle" src="{{ profile_picture }}" width="40" height="40">
                </a>
                </div>
                {% endif %}
            </div>    
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 ByteBite</p>
    </footer>
</body>

</html>