{% extends "_layout.html" %}

{% block content %}
<div class="builder">
<h1 style="text-align: center;">Meal Builder</h1>
        <div class="back-button">
        <button type="button" onclick="window.history.back();">←Back</button>
        </div>
        <p style="margin-left: 200px;
        margin-right: 200px;">Meal Name:</p>

    <form action="/action_page.php">
        <label for="meal_name">Meal Name:</label>
        <input type="text" id="meal_name" name="meal_name"><br><br>
        <input type="submit" value="Submit">
    </form>

        <div class="add-ingredient" style="text-align: center;">
            <button type="Button">Add Item +</button>
        </div>
        <div class="create-meal" style="text-align: right;">
            <button type="submit">Create Meal</button>
        </div>
    <h2>Items in meal:</h2>
</div>
{% endblock %}
