{% extends "_layout.html" %}

{% block content %}
<div class = "about-us">
    <h1>ByteBite Calculator</h1>
    <a onclick="history.back()">
        <button class = "backbutton" style = "float: left;">Back</button>
    </a>
    <div class = "calcgrid">
        <div class = "calcgridform" style = "padding-left: 30px;">QTY</div>
        <div class = "calcgridform">Name</div>
        <div class = "calcgridform">Calories</div>
        <div class = "calcgridform">Carbs</div>
        <div class = "calcgridform">Fat</div>
    </div>
    <hr style = "width: 75%; margin-top: 0;">
    <div class = "calc-item">
        <div class = "qty">1</div>
        <div class = "calcname">Brand Name</div>
        <div class = "calccal">200</div>
        <div class = "calccarb">54</div>
        <div class = "calcfat">100</div>
        <div class = calc-add-icon><img src="../static/images/bluepencil.jpg" alt="""></div>
        <div class = "calc-remove-icon"><img src="../static/images/trashcan.jpg" alt="""></div>
    </div>
    

    <!-- <p><a href="{{ url_for('foodsearch') }}">Add Item</a></p> -->

    
    
</div>
{% endblock %}