{% extends "_layout.html" %}

{% block content %}

<div class="view-food-container">
    <div class="left-img-container">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
    <div class="food-content-container">
        <div class="back-btn">
            <a onclick="history.back()">
                <button class="backbutton">Back</button>
            </a>
        </div>
        <div class="food-info">
            <div class="food-title">
                <p class="food-title">{{ food_name }}</p>
            </div>
            <div class="food-brand">
                {% if food_brand %}
                <p>Brand: {{ food_brand }}</p>
                {% else %}
                <p>No Brand</p>
                {% endif %}
            </div>
            <div class="nutrition-facts">
                <ul>
                    <li class="facts-title">Nutrients</li>
                    {% for nutrient in food_info %}
                    <li class="nutrients">{{ nutrient.nutrient.name }}: {{ nutrient.amount }} {{ nutrient.nutrient.unitName }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="daily-value">
                <ul>
                    <li class="facts-title">Ingredients</li>
                    {% if food_ingredients %}
                    <li class="ingredients">{{ food_ingredients }}</li>
                    {% else %}
                    <li>No ingredients to display</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="right-img-container">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
</div>

{% endblock %}