{% extends "_layout.html" %}

{% block content %}

<div class= "view-food-container">
    <div class="left-img-container" style = "width: 25%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
    <div class = "about-us" style = "width: 90%;">
        <a onclick="history.back()">
            <button class = "backbutton" style = "float: left;">Back</button>
        </a>
        <div class = "search-box2">
        <form action="/foodsearch/" method="POST">
          <input type="text" class="txt-box" name="query" placeholder="Search...">
          <label for="query"></label>
          <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        </div>

        {% if foods.length != 0 %}

        <table id="search-titles">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Food Category</th>
                <th>Brand</th>
            </tr>
            {% for food in foods %}
            <tr>
                <td>{{ food.fdcId }}</td>
                <td>{{ food.description }}</td>
                <td>{{ food.foodCategory }}</td>
                <td>{{ food.brandName }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}

      <h1>There are no foods to display</h1>

      {% endif %}
    </div>
      
    <div class="right-img-container" style = "width: 25%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
</div>
{% endblock %}