{% extends "_layout.html" %}

{% block content %}
    <div class="homepage-container">
        <div class="blur-2"></div>
        <div class="img-container-homepage">
            <img src="/static/images/food-background-horizontal2.jpg" alt="food-background">
        </div>
        <div class="blur-container"></div>
        <div class="search-box-container">
            <div class="search-box">
                <p>Find Your Food</p>
                <a href="{{ url_for('foodsearch') }}">
                    <button class = "searchbutton" style = "font-family: fantasy; font-size: larger;">Search</button>
                </a>

            </div>
        </div>
        <div class="flour-container">
            <img src="/static/images/spices.png" alt="flour">
    </div>
        <div class="common-searches-container">
            <div class="cutting-board-container">
                <img class="cutting-board"src="/static/images/cutting-board.jpg" alt="cutting-board">
            </div>
            <p>Common Searches</p>
            <div class="food-cards-container">
                <div class="food-card">
                    <img src="/static/images/temp-pic.jpg" alt="food-img">
                    <div class="label-info">
                        <ul>
                            <li class="food-label"><a href="{{ url_for('food') }}">Peanuts</a></li>
                            <li class="food-brand">Brand: Kroger</li>
                            <li class="food-protein">Protein: 25 g</li>
                            <li class="food-fiber">Fiber: 7.1 g</li>
                        </ul>
                    </div>
                </div>
                <div class="food-card">
                    <img src="/static/images/temp-pic.jpg" alt="food-img">
                    <div class="label-info">
                        <ul>
                            <li class="food-label">Peanuts</li>
                            <li class="food-brand">Brand: Kroger</li>
                            <li class="food-protein">Protein: 25 g</li>
                            <li class="food-fiber">Fiber: 7.1 g</li>
                        </ul>
                    </div>
                </div>
                <div class="food-card">
                    <img src="/static/images/temp-pic.jpg" alt="food-img">
                    <div class="label-info">
                        <ul>
                            <li class="food-label">Peanuts</li>
                            <li class="food-brand">Brand: Kroger</li>
                            <li class="food-protein">Protein: 25 g</li>
                            <li class="food-fiber">Fiber: 7.1 g</li>
                        </ul>
                    </div>
                </div>
                <div class="food-card">
                    <img src="/static/images/temp-pic.jpg" alt="food-img">
                    <div class="label-info">
                        <ul>
                            <li class="food-label">Peanuts</li>
                            <li class="food-brand">Brand: Kroger</li>
                            <li class="food-protein">Protein: 25 g</li>
                            <li class="food-fiber">Fiber: 7.1 g</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools-container">
            <p class="nutritional-tools-label">Nutritional Tools</p>
            <div class="tools-grid">
                <div class="tool calculator-box">
                    <img src="/static/images/calculator.jpg" alt="calculator">
                    <p><a href="{{ url_for('calculator') }}">Nutritional Calculator</a></p>
                </div>
                <div class="tool builder-box">
                    <img src="/static/images/builder.jpg" alt="builder">
                    <p><a href="{{ url_for('builder') }}">Meal Builder</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
