{% extends "_layout.html" %}

{% block content %}
    <div class = "profile">
        <title>Profile</title>
        <div class="back-button">
        <button type="button" onclick="window.history.back();">←Back</button>
        </div>
        <div class="media">
            <img class="rounded-circle" src="{{ profile_picture }}" width="150" height="150">
        </div>
        <h1 style = 'font-weight: normal;'>{'{user.name}'}</h1>  
        <h2 style = 'font-weight: normal; text-align: left;'>My Meals</h2>
    </div>
{% endblock %}