{% extends "_layout.html" %}

{% block content %}
<div class = "view-food-container">
    <div class="left-img-container" style = "width: 20%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>

    <div class = "profile" style = "width: 50%;">
        <title>Profile</title>
        <div class="back-button">
        <button type="button" onclick="window.history.back();">←Back</button>
        </div>
        <div class="media">
            <img class="rounded-circle" src="{{ profile_picture }}" width="150" height="150">
        </div>
        <h1 style = 'font-weight: normal;'>{'{user.username}''}</h1>  
        <h2 style = 'font-weight: normal; text-align: left;'>My Meals</h2>
    </div>

    <div class="right-img-container" style = "width: 20%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
</div>


    
{% endblock %}