{% extends "_layout.html" %}

{% block content %}
{% if session['user'] %}
<div class = "view-food-container">
    <div class="left-img-container" style = "width: 20%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>

    <div class = "profile" style = "width: 50%;">
        <title>Profile</title>
        <a onclick="history.back()">
            <button class = "backbutton" style = "float: left; margin-right: -125px;">Back</button>
        </a> 
        <div class="media">
            <img class="rounded-circle" src="{{ profile_picture }}" width="150" height="150">
        </div>
        <h1 style = 'font-weight: normal;'>{{session['user']}}</h1>  
        <h2 style = 'font-weight: normal; text-align: left;'>My Meals</h2>
    </div>

    <div class="right-img-container" style = "width: 20%;">
        <img src="/static/images/food-background.jpg" alt="food-background">
    </div>
</div>
{% endif %}


    
{% endblock %}