<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="login-container">
        <div class="img-container-1">
            <img src="{{ url_for('static', filename='images/food-background.jpg') }}" alt="">
        </div>
        <div class="form-container">
            <div class="header">
                <div class="header-btn" id="register-tab">
                    <button><a href="{{ url_for('login') }}">Sign In</a></button>
                </div>
                <div class="header-btn active-tab" id="signin-tab">
                    <button>Register</button>
                </div>                
            </div>
            <div class="form-grid">
                <div class="logo-signin">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo"></a>
                </div>
                <form action="{{ url_for('register_user') }}" method="POST" class="form-box active">
                    <input type="text" class="txt-box" id="email" name="email" placeholder="Email" value="{{ email }}" required>
                    <input type="text" class="txt-box" id="username" name="username" placeholder="Username" value="{{ username }}" required>
                    <input type="password" class="txt-box" id="password" name="password" placeholder="Password" value="{{ password }}" required>
                    <input type="password" class="txt-box" id="confirm-password" name="confirm_password" placeholder="Confirm Password" required>
                    
                    {% if error %}
                    <div class="error-message">
                        <p style="color: red;">{{ error }}</p>
                    </div>
                    {% endif %}
                    
                    <div class="register-submit-container">
                        <button type="submit" class="register-submit">Register</button>
                    </div>
                </form>
                <div class="separator">
                    <div class="separator-line"></div>
                    <div class="separator-txt">or</div>
                    <div class="separator-line"></div>
                </div>
                <div class="google-container">
                    <form action="/google-login" method="GET">
                        <button type="submit" class="google-btn">Sign in with Google</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="img-container-2">
            <img src="{{ url_for('static', filename='images/food-background.jpg') }}" alt="">
        </div>
    </div>
</body>
</html>